<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/addproduct.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main>
        <div class="flex-container__login-container">
            <form class="login-form" action="/new-password" method="POST">
                <% if (errorMsg) { %> 
                    <div class="feedback-msg feedback-msg--error"><%= errorMsg %></div>
                <% } %>
                <div class="form-control">
                    <label for="newpassword">New password</label>
                    <input type="password" name="newpassword" id="newpassword">
                </div>
                <div class="form-control">
                    <label for="confirmpassword">Confirm password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword">
                </div>
                <div class="centered" style="margin-bottom: 1rem;">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
    </main>
<%- include('../includes/tail.ejs') %>