<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/addproduct.css">
    <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <% if (hasError) { %> 
                <div class="feedback-msg feedback-msg--error"><%= errorMsg %></div>
            <% } %>
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<%= title %>"
                    class="<%= errors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                >
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input 
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<%= imageUrl %>"
                    class="<%= errors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<%= price %>"
                    class="<%= errors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                >
            </div>
            <div class="form-control">
                <label for="desc">Description</label>
                <textarea 
                    name="desc" 
                    id="desc" rows="5"
                    class="<%= errors.find(e => e.param === 'desc') ? 'invalid' : '' %>"
                ><%= desc %></textarea>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Add Product</button>
        </form>
    </main>
<%- include('../includes/tail.ejs') %>