<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/cart.css">
</head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main>
      <% if (products.length > 0) { %>
        <ul class="cart__item-list">
          <% products.forEach(prod => { %>
            <li class="cart__item">
              <h3><%= prod.prodId.title %></h3>
              <h4>Quantity: <%= prod.qty %></h4>
              <form action="/cart/delete-cart-item" method="POST">
                <input type="hidden" name="prodId" value="<%= prod.prodId._id %>">
                <button class="btn delete" type="submit">Delete</button>
              </form>
            </li>
          <% }) %> 
        </ul>
        <br>
        <div class="centered">
          <form action="/place-order" method="POST">
            <button class="btn" type="submit">Place order</button>
          </form>
        </div>
      <% } else { %>
        <h2>Cart empty</h2>
      <% } %> 
    </main>

<%- include('../includes/tail.ejs') %>