<%- include('../includes/head.ejs') %>
</head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main>
      <ul>
        <% orders.forEach(order => { %>
          <li>
            <h3><%= order.id %> </h3>
            <ul>
              <% order.products.forEach(prod => { %> 
                <li><%= prod.title %> - <%= prod.orderItem.qty %> </li>
              <% }) %> 
            </ul>
          </li>
        <% }) %> 
      </ul>
    </main>

<%- include('../includes/tail.ejs') %>