<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main>
      <% if (orders.length <= 0) { %>
          <h4>No orders placed</h4>
      <% } else { %>
          <ul class="orders">
              <% orders.forEach(order => { %>
                  <li class="orders__item">
                      <h3>Order - # <%= order._id %></h3>
                      <p>Placed at: <%= order.createdAt.getFullYear() %>-<%= order.createdAt.getMonth() %>-<%= order.createdAt.getDate() %> at <%= order.createdAt.getHours() %>:<%= order.createdAt.getMinutes() %></p>
                      <a href="orders/<%= order._id %>">Download invoice</a>
                      <ul class="orders__products">
                          <% order.products.forEach(prod => { %>
                              <li class="orders__products-item"><%= prod.product.title %> (<%= prod.qty %>) --- $<%= prod.product.price %> </li>
                          <% }); %>
                      </ul>
                  </li>
              <% }); %>
          </ul>
      <% } %>
  </main>

<%- include('../includes/tail.ejs') %>